.mainContainer {
  position: relative;
  height: 100%;
  width: 106.2rem;

  .window {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .allCommentsContainer {
      height: 100%;
      display: flex;
      gap: 2.4rem;
      transition: translate;
      transition-property: transform;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
    }
  }

  .btnsToggle {
    display: flex;
    position: absolute;
    left: 115rem;
    bottom: 6.5rem;
    gap: 1.6rem;

    button {
      width: 5.6rem;
      height: 5.6rem;
      background-color: white;
      border-color: transparent;

      &.firstClick,
      &:disabled {
        background-color: #E0E0E0;

        img {
          opacity: 0.5;
        }
      }

      img {
        height: 2.4rem;
        width: 2.4rem;
      }

      img.left {
        transform: rotate(180deg);
      }
    }
  }

  @media (max-width: 1380px) {
    .btnsToggle {
      transform: translateX(-50%);
      left: 50%;
      bottom: -1.5rem;
    }
  }
}
