@font-face {
  font-family: "Factor A Medium";
  src: url(./../../../fonts/FactorAMedium-Regular.ttf);
}

.section {
  background-color: transparent;
  padding: 5.2rem 8rem 10.6rem 0;
  max-width: 1990px;
  margin: auto;

  .content {
    width: 119.8rem;
    height: 52.5rem;
    padding: 5.6rem 5.6rem 6rem 8rem;
    border-radius: 2px;
    background-color: white;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-family: "Factor A Medium";
        font-size: 6.8rem;
        line-height: 8.8rem;
        color: #333;
        margin-bottom: 3.8rem;
      }
    }
  }
}
