.button {
  width: 22.7rem;
  height: 5.2rem;
  padding: 1.7rem 2.8rem;
  line-height: 1.8rem;
  font-size: inherit;
  color: white;
  background-color: #585cc6;
  border-color: transparent;
  border-radius: 2px;
}
