@font-face {
  font-family: "Gilroy bold";
  src: url(./../../../fonts/gilroy-bold.ttf);
}

@font-face {
  font-family: "Gilroy light";
  src: url(./../../../fonts/gilroy-light.ttf);
}

@font-face {
  font-family: "Factor A Medium";
  src: url(./../../../fonts/FactorAMedium-Regular.ttf);
}

@font-face {
  font-family: "Factor A Bold";
  src: url(./../../../fonts/FactorA-Bold.ttf);
}

.section {
  background-color: transparent;
  padding: 9.3rem 8rem 10rem;
  max-width: 1990px;
  margin: auto;

  h1 {
    font-family: "Factor A Medium";
    max-width: 115.7rem;
    font-size: 12.4rem;
    line-height: 14.8rem;
    color: white;
    margin-bottom: 8.8rem;
  }

  .wrapper {
    display: flex;

    .wrapperImg {
      width: 51.9rem;
      height: 38.3rem;
      position: relative;
      top: 3.2rem;
      border-radius: 2px;
      overflow: hidden;
      flex-grow: 1;

      img {
        width: 100%;
      }
    }

    .authorInfo {
      width: 76.1rem;
      height: 38.3rem;
      padding: 4rem 4rem 4.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      border-radius: 2px;
      background-color: white;
      flex-grow: 1;

      b {
        font-family: "Gilroy bold";
      }

      .nameYear {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        h3 {
          font-family: "Factor A Bold";
          font-size: 3.2rem;
          line-height: 3.2rem;
          color: #585cc6;
        }

        span {
          font-family: "Gilroy light";
          font-size: 1.8rem;
          line-height: 2.4rem;
          color: #8a8a8a;
        }
      }

      .townGenderYear {
        display: flex;
        justify-content: flex-start;
        gap: 4rem;

        .gender {
          display: flex;
          gap: 1rem;
          align-items: flex-end;
        }
      }

      .ps {
        font-style: italic;
      }

      .pet {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        line-height: 2.4rem;
      }
    }
  }
}
