@font-face {
  font-family: "Gilroy bold";
  src: url(./../../../fonts/gilroy-bold.ttf);
}

@font-face {
  font-family: "Gilroy light";
  src: url(./../../../fonts/gilroy-light.ttf);
}

@font-face {
  font-family: "Factor A Medium";
  src: url(./../../../fonts/FactorAMedium-Regular.ttf);
}

@font-face {
  font-family: "Factor A Bold";
  src: url(./../../../fonts/FactorA-Bold.ttf);
}

.section {
  background-color: transparent;
  padding: 9.3rem 8rem 10rem;
  max-width: 1990px;
  margin: auto;

  h1 {
    font-family: "Factor A Medium";
    max-width: 115.7rem;
    font-size: 12.4rem;
    line-height: 14.8rem;
    color: white;
    margin-bottom: 8.8rem;
  }

  .wrapper {
    display: flex;

    .wrapperImg {
      width: 51.9rem;
      height: 47rem;
      position: relative;
      top: 3.2rem;
      border-radius: 2px;
      overflow: hidden;
      flex-grow: 1;

      img {
        width: 100%;
        display: block;
        margin-left: auto;
      }
    }

    .authorInfo {
      width: 76.1rem;
      min-height: 38.3rem;
      padding: 4rem 4rem 4.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2rem;
      border-radius: 2px;
      background-color: white;
      flex-grow: 1;

      b {
        font-family: "Gilroy bold";
      }

      .nameYear {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        h3 {
          font-family: "Factor A Bold";
          font-size: 32px;
          line-height: 32px;
          color: #585cc6;
        }

        span {
          font-family: "Gilroy light";
          line-height: 2.4rem;
          color: #8a8a8a;
        }
      }

      .townGenderYear {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 4rem;

        span {
          flex-wrap: nowrap;
          display: flex;
        }

        .gender {
          display: flex;
          gap: 1rem;
          align-items: flex-end;

          img {
            width: 2rem;
            height: 2rem;
          }
        }
      }

      .ps {
        font-style: italic;
      }

      .pet {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        line-height: 2.4rem;

        img {
          width: 3.2rem;
          height: 2.1rem;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .section {
    padding: 43px 16px 50px;

    h1 {
      font-size: 48px;
    }

  }
}

@media (max-width: 560px) {
  .section {
    .wrapper {
      flex-direction: column;

      .wrapperImg {
        width: 105%;
        height: 111rem;

        img {
          float: left;
          height: auto;
          width: 127rem;
        }
      }

      .authorInfo {
        gap: 16px;
        width: 100%;
        z-index: 2;

        .nameYear {
          flex-direction: column;
          align-items: flex-start !important;
          gap: 4px;
          
          h3 {
            font-size: 24px;
          }
        }
      }
    }
  }
}
