main {
  background-color: #585cc6;

  .welcome {
    background-color: transparent;
    padding: 9.3rem 8rem 15.2rem;

    h1 {
      max-width: 115.7rem;
      font-weight: 500;
      font-size: 12.4rem;
      line-height: 14.8rem;
      color: white;
      margin-bottom: 8.8rem;
    }

    .wrapper {
      display: flex;

      .wrapper-img {
        width: 51.9rem;
        height: 38.3rem;
        position: relative;
        top: 3.2rem;
        border-radius: 2px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .author-info {
        width: 76.1rem;
        height: 38.3rem;
        padding: 4rem 4rem 4.4rem;
        border-radius: 2px;
        background-color: white;
      }
    }
  }
}
