
@keyframes fade {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    90% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      display: none;
      transform: scale(0);
    }
}

.message {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    width: 43.8rem;
    height: 132px;
    min-width: 288px;
    padding-top: 16px;
    padding-left: 130px;
    border-radius: 32px;
    font-size: 14px;
    opacity: 0;
    transform: scale(0);
    background-repeat: no-repeat !important;
    background-position-y: bottom !important;

    &.active {
      animation: fade 5s forwards;
    }

    img {
      position: absolute;
      left: 0;
      top: -4rem;
    }

    h4 {
      font-size: 32px;
      line-height: 38.5px;
      margin-bottom: 1rem;
    }

    p {
      width: 240px;
    }
}

  @media (max-width: 560px) {
    .content {
      width: 100%;

      .top {
        h2 {
          font-size: 32px;
        }
      }
    }

    .message {
      padding-left: 90px;

      h4 {
        font-size: 24px;
      }

      p {
        width: 170px;
      }
    }
  }