@font-face {
	font-family: 'Gilroy bold'; 
	src: url(./../../fonts/gilroy-bold.ttf); 
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 8rem;
  max-width: 1990px;
  margin: auto;

  .authorInfo {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-family: 'Gilroy bold';

    .avatar {
      width: 5.2rem;
      height: 5.2rem;
      border-radius: 2px;
    }
  }

  .logo {
    width: 8.5rem;
    height: 5.2rem;
  }
}
