@font-face {
	font-family: 'Gilroy medium'; 
	src: url(./fonts/gilroy-medium.ttf); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  color: #333;
  font-family: "Gilroy medium", "Roboto","Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 button {
   cursor: pointer;
 }